@model Catalogue_Produit_App.Models.CAT_PRODUIT
@{
    ViewBag.Title = "AjoutProduit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Ajouter un Produit</h2>

<br />
<hr />

<div>

    <form id="formProduit" name="formProduit" action="" method="post" enctype="multipart/form-data">
        <div class="row">
            @if (Model != null)
            {
                <input type="hidden" name="CODE_PRODUIT" id="CODE_PRODUIT" value="@Model.CODE_PRODUIT" />
                <input type="hidden" name="DATE_SAISIE" id="DATE_SAISIE" value="@Model.DATE_SAISIE" />
                <input type="hidden" name="URL_IMAGE_PRODUIT" id="URL_IMAGE_PRODUIT" value="@Model.URL_IMAGE_PRODUIT" />
                <input type="hidden" name="IMAGE_PRODUIT" id="IMAGE_PRODUIT" value="@Model.IMAGE_PRODUIT" />
            }
            <div class="col-xs-12 col-sm-6">
                <div class="form-group">
                    <label>Catégorie</label>
                    <select id="CODE_CATEGORIE" name="CODE_CATEGORIE" class="form-control">
                        @foreach (var data in ViewBag.listeCategorie)
                        {
                            <option value="@data.codeCategorie" @(Model != null ? Model.CODE_CATEGORIE == @data.codeCategorie ? "selected" : "" : "" )>@data.libelleCategorie</option>
                        }
                    </select>
                </div>
                <div class="form-group">
                    <label>Produit *</label>
                    <input type="text" id="LIBELLE_PRODUIT" name="LIBELLE_PRODUIT" class="form-control" value="@(Model!=null? Model.LIBELLE_PRODUIT : "")" required />
                </div>
            </div>

            <div class="col-xs-12 col-sm-6">
                <div class="form-group">
                    <label>Description</label>
                    <textarea id="DESCRIPTION_PRODUIT" name="DESCRIPTION_PRODUIT" class="form-control">@(Model!=null? Model.DESCRIPTION_PRODUIT : "")</textarea>
                </div>
                <div class="form-group">
                    <label>Image de produit</label>
                    <input type="file" id="IMAGE_PRODUIT" name="IMAGE_PRODUIT" class="form-control" />
                </div>
            </div>

        </div>

        <div class="row">
            @if (Model == null)
            {
                <input type="submit" id="enregistrer" name="enregistrer" value="Enregistrer" class="btn btn-primary" />
            }
            else
            {
                <input type="submit" id="modifier" name="modifier" value="Enregistrer Modification" class="btn btn-success" />
                <a href="~/Produit/AjoutProduit" class="btn btn-default">Annuler</a>
            }
        </div>
    </form>

    <br />
    <hr />

    <div class="table-responsive">
        <table class="table table-bordered">
            <tr>
                <th>Produit</th>
                <th>Description</th>
                <th>Image</th>
                <th>Catégorie</th>
                <th>Date de saisie</th>
            </tr>
            @foreach (var data in ViewBag.listeProduit)
            {
                <tr>
                    <td>@data.libelleProduit</td>
                    <td>@data.descriptionProduit</td>
                    <td><img src="@data.urlImageProduit/@data.imageProduit" width="100" height="80" /></td>
                    <td>@data.categorieDto.libelleCategorie</td>
                    <td>@data.DateSaisie</td>
                    <td><a href="~/Produit/ModifierProduit/@data.codeProduit" class="btn btn-warning btn-xs"><span class="glyphicon glyphicon-edit"></span> Modifier</a></td>
                    <td><a href="~/Produit/SupprimerProduit/@data.codeProduit" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span> Supprimer</a></td>
                </tr>
            }
        </table>
    </div>

</div>