
@{
    ViewBag.Title = "Home";
}

<br />
<div class="jumbotron">
    <div class="container text-center">
        <h1>Tazyri store</h1>
        <p>Notre Catalogue de Produits</p>
    </div>
</div>
@foreach (var data in ViewBag.listeCategorie)
{

<div class="row col-xs-12">
    <div class="alert alert-info">
        <strong>@data.LIBELLE_CATEGORIE :</strong>  Découvrez tous les produits de  la gamme @data.LIBELLE_CATEGORIE disponibles immédiatement.
    </div>
    <br />  
    @foreach (var produit in data.CAT_PRODUIT)
    {
        <div class="col-sm-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <p>
                        @produit.LIBELLE_PRODUIT
                        <span style="float:right;">
                            <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#@produit.CODE_PRODUIT">voir détails   </button>
                        </span>
                    </p>
                </div>
                <div class="panel-body"><img src="@produit.URL_IMAGE_PRODUIT/@produit.IMAGE_PRODUIT" class="img-responsive" style="width:100%" alt="Image"></div>
                <div class="panel-footer">
                    @produit.DESCRIPTION_PRODUIT
                </div>
            </div>
        </div>


        <!-- Modal -->
        <div class="modal fade" id="@produit.CODE_PRODUIT" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">@produit.LIBELLE_PRODUIT</h4>
                    </div>
                    <div class="modal-body">
                        <div>
                            <div class="panel-body">
                                <p>Description:  @produit.DESCRIPTION_PRODUIT</p>
                                <p>Statut: Neuf</p>
                                <button style="float:right;" type="button" class="btn btn-default btn-sm">
                                    <span class="glyphicon glyphicon-thumbs-up"></span> Like
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>
    }
</div>
    
}



